* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #E5EFF5;
}

h1, h2, p {
    font-family: 'Karla', sans-serif;
    color: #fff;
}

/* Grid */
container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45rem;
    margin: 5rem auto;
    box-shadow: 1px 10px 8px 7px #d6dfe4;
    border-radius: 10px;
}

div {
    padding: 2.4rem;
}

/* Header-section */
#header-section {
    background-color: #fff;
    grid-column: 1/3;
    border-radius: 10px 10px 0 0;
}

#header-section h1 {
    color: #2cb6b4;  
    padding-bottom: 1.1rem;
}

#header-section h2 {
    color: #C0DF34;
    padding-bottom: 1rem;

}

#header-section p {
    color: #b0b9c0;
    font-size: 1.1rem;  
    line-height: 1.6;
}

/* Subscription Section */
#subscription {
    background-color: #2cb6b4;
    border-radius: 0 0 0 10px;
}

#subscription h2 {
    padding-bottom: 1.1rem;
}

.price {
    font-size: 2rem;
    font-weight: 700;
    padding-right: 2%;
}

.per-month {
    opacity: 0.65;
}

#subscription p {
    font-size: 1.1rem;  
    line-height: 1.5;
}

.full-access {
    padding-bottom: 2.6rem;
}

button {
    background-color: #C0DF34;
    border-radius: 5px;
    border: none;
    box-shadow: 0 10px 5px #249290;
    display: inline-block;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    width: 100%;
    height: 50px;
    text-decoration: none;
}

button:hover {
    background-color: #d1f339;
    color: white;
    cursor: pointer;
}

/* Why us section */
#why-us {
    background-color: #40c9c6;
    border-radius: 0 0 10px 0;
}

#why-us h2 {
    padding-bottom: 1.1rem;
}

#why-us p {
    line-height: 1.5;
}

/* Footer */
footer {
    text-align: center;
    padding-bottom: 10px;
}

footer p {
    color: black;
}

/* Media Query */
@media (max-width: 750px) {
    container {
        display: flex;
        flex-flow: column wrap;
        width: 21rem;
    }

    div {
        padding: 1.8rem;
    }

    /* header-section */
    #header-section h1 {
        font-size: 22px;
    }

    #header-section h2 {
        font-size: 16px;

    }

    #header-section p {
        font-size: 14px;
    }

     /* Subscription Section */
     #subscription {
         border-radius: 0;
     }

     #subscription h2 {
        font-size: 20px;
    }
    
    .price {
        font-size: 2rem;
        font-weight: 700;
    }

    #subscription p {
        font-size: 1rem;  
    }
    
    button {
        font-size: 16px;
    }

     /* Why us section */
    #why-us {
        border-radius: 0 0 10px 10px;
    }

    #why-us h2 {
        font-size: 20px;
    }

    #why-us p {
        font-size: 14px;
    }

}